<% provide(:title, "Edit user") %>
<div class="container-fluid">
  <h2 class="text-center">Update your profile</h2>
  <div class="divider divider-clear"></div>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %>
</div>
