$gray-medium-light: #eaeaea;
$headings-font-family: "serenity",sans-serif;

$border-radius-base: 0.8rem;
$border-radius-form: 1.5rem;
$border-radius-card: 2rem;
$border-radius-button: 4rem;

$color-cream-base: #E5DCC5;
$color-medium-grey: #4C4C47;
$color-dark-grey: #2D2D2A;

$background-color-card: $color-cream-base;
$background-color-dark: #2D2D2A;
