<!DOCTYPE html>
<html>
  <head>
    <title>BlackmartRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.typekit.net/jfh1pyt.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.fontawesome.com/bf8cb3f9af.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
